.details img{
    aspect-ratio: 1/1;
    width: 20%;
}

.details button{
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(192, 71, 71);
    font-size: larger;
    color: white;
}

.details button:hover{
    background-color: white;
    color: red;
    border-color: rgb(192, 71, 71);
}