.details img{
    aspect-ratio: 1/1;
    width: 20%;
}

.details button{
    margin: 10px;
}

.deleteBttn{
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(192, 71, 71);
    font-size: larger;
    color: white;
}

.deleteBttn:hover{
    background-color: white;
    color: rgb(192, 71, 71);
    border-color: rgb(192, 71, 71);
}

.editBttn{
    border-radius: 7px;
    padding: 7px;
    background-color: rgb(38, 121, 217);
    font-size: larger;
    color: white;
}

.editBttn:hover{
    background-color: white;
    color: rgb(38, 121, 217);
    border-color: rgb(38, 121, 217);
}