.box {
    float: right;
    width: 65%;
    height: 100%;
    /* border: 3px solid black; */
    overflow: hidden;
    -webkit-text-stroke: 0.30px black;
}

.form {
    margin: 0 0 0 0;
    float: left;
    width: 50%;
    height: 100%;
    /* border: 3px solid blue; */
    text-align: left;
}
.form h4{
    text-align: left;
}

.errors{
    margin: 0 0 0 5px;
}

.types ul{
    list-style: none;
    text-align: left;
}
.types h4{
    text-align: left;
    margin:  18px 0 0 44px;
}
.types p{
    text-align: left;
}

.types {
    float: left;
    height: 100%;
    width: 30%;
    /* border: 3px solid green; */
}
