.box {
    float: right;
    width: 700px;
    border: 3px solid black;
    overflow: hidden; /* add this to contain floated children */
}

.form {
    float: left;
    width: 300px;
    height: 300px;
    border: 3px solid blue;
}

ul {
    list-style: none;
    text-align: left;
}

.types {
    float: left;
    width: 200px;
    height: 500px;
    border: 3px solid green;
}
