.box{
    border: 2px solid black;
    text-decoration: none;
    width: 250px;
    height: 450px;
    /* background-color: aqua; */
    border-radius: 12px;
    display: inline-block;
}

.box p{
    text-align: center;
}

.box:hover{
    border: 2px solid red;
}

.nombre{
    /* margin-left: 20px; */
    text-decoration: none;
}
.link{
    color:black;
    text-decoration: none;
}
.link:hover{
    color: red;
    text-decoration: none;
}

/* #button{
    color: black;
    border: none;
    position: absolute;
    margin-left: 103.7px;
    background-color: aqua;
    border-top-right-radius: 12px;
    outline: none;
} */
/* float: right; */
/* margin: 5px 5px 0 0; */
/* border-radius: 50%; */

/* #button:hover{
    background-color: red;
    color: aqua;
} */


#img{
    width: 250px;
    height: 250px;
}